.bt-flash-messages {
  position: fixed;
  right: 30px;
  bottom: 20px;
  display: grid;
  gap: 10px;
  z-index: 100000;
}

@keyframes bt-flash-slide-fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bt-flash-messages__message-wrapper {
  animation: bt-flash-slide-fade-in var(--bt-transition-base);
}

.bt-flash-messages__message-wrapper--exiting {
  opacity: 0;
  transition: opacity var(--bt-transition-base);
}

.bt-flash-messages__message {
  max-width: 400px;
  cursor: pointer;
}
