@use '../../styles/variables';

.changelogBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid variables.$gold-alt;
  margin: #{-1 * variables.$extension-y-padding} #{-1 * variables.$extension-x-padding} 10px;
  background-color: variables.$gold;
  color: variables.$white;
}

.dismissButton {
  width: 100%;
  margin-top: 10px;
}
