/* Fontin Small Caps */
@font-face {
	font-family: "FontinSmallCaps";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/fontin-smallcaps-webfont.woff') format("woff")
}

/* Fontin Regular */
@font-face {
	font-family: "FontinRegular";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/fontin-regular-webfont.woff') format("woff")
}

/* Fontin Italic */
@font-face {
	font-family: "FontinItalic";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/fontin-italic-webfont.woff') format("woff")
}

/* Fontin Bold */
@font-face {
	font-family: "FontinBold";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/fontin-bold-webfont.woff') format("woff")
}

/* Cinzel Regular */
@font-face {
	font-family: "Cinzel";
	font-weight: normal;
	font-style: normal;
	src: local("Cinzel-Regular"), url('/fonts/Cinzel-Regular.woff') format("woff")
}

/* Cinzel Medium */
@font-face {
	font-family: "Cinzel-Medium";
	font-weight: normal;
	font-style: normal;
	src: local("Cinzel-Medium"), url('/fonts/Cinzel-Medium.woff') format("woff")
}

/* Optimus Princeps SemiBold */
@font-face {
	font-family: "OptimusPrincepsSemiBold";
	font-weight: bold;
	font-style: normal;
	src: local("☺"), url('/fonts/OptimusPrincepsSemiBold.ttf') format("truetype")
}

/* Friz Quadrata C */
@font-face {
	font-family: "FrizQuadrataC";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/FrizQuadrataC.woff') format("woff")
}

/* Daehan */
@font-face {
	font-family: "Daehan";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/Daehan.woff') format("woff")
}

/* Noto Sans JP */
@font-face {
	font-family: "Noto Sans JP";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/noto-sans-jp-v42-latin_japanese-regular.woff2') format("woff2"), url('/fonts/noto-sans-jp-v42-latin_japanese-regular.woff') format("woff")
}

/* Noto Serif JP */
@font-face {
	font-family: "Noto Serif JP";
	font-weight: normal;
	font-style: normal;
	src: local("☺"), url('/fonts/noto-serif-jp-v21-latin_japanese-regular.woff2') format("woff2"), url('/fonts/noto-serif-jp-v21-latin_japanese-regular.woff') format("woff")
}

/* Quikhand */
@font-face {
	font-family: "Quikhand";
	font-style: normal;
	font-weight: normal;
	src: local("Quikhand"), url('/fonts/Quikhand.woff') format("woff")
}

/* Caveat Bold */
@font-face {
	font-family: "Caveat-Bold";
	font-style: normal;
	font-weight: normal;
	src: local("Caveat-Bold"), url('/fonts/Caveat-Bold.woff2') format("woff2")
}

html {
	font-family: "FontinSmallCaps", Verdana, Arial, Helvetica, sans-serif;
	font-size-adjust: .54;
	font-weight: normal;
}

html[lang="zh-CN"] {
	font-family: "Microsoft YaHei", Verdana, Arial, Helvetica, sans-serif;
}

html[lang="zh-TW"] {
	font-family: 微軟正黑, "Microsoft JhengHei", 新明細體, Verdana, Arial, Helvetica, sans-serif;
}

html[lang="ru-RU"] {
	font-family: FrizQuadrataC, Verdana, Arial, Helvetica, sans-serif;
}

html[lang="ko-KR"] {
	font-family: "맑은 고딕", "Malgun Gothic", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -0.025em;
}

html[lang="ja-JP"] {
	font-family: "Noto Sans JP", Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: -0.025em;
}

/* Fonts */

a {
	color: #E9CF9F
}