@use '../../styles/variables';

.formField {
  width: 100%;
  margin: 0;
}

.label {
  margin-bottom: 5px;
  font-family: variables.$primary-font;
  font-size: 15px;
  letter-spacing: 0.5px;
  color: variables.$beige;
}

.helper {
  margin: 5px 0 0;
  font-size: 12px;
  font-weight: normal;
  color: rgba(variables.$beige, 0.8);
}
